/* Página web Github */
body{
	background-color: #222222;
	color: white;
	margin: 0px;	
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	color: cyan;
}

a:active{
	color: blue;
}

a:visited {
	color: rgb(0, 117, 252);
}

header {
	display: block;
	height: 150px;
	font-family: "Audiowide", sans-serif;
	text-align:center;
	background-color: rgb(15, 28, 104);
	margin: 0%;
	line-height: 4cm;
	font-size: 60px;
	background-image: url(imagenes/istockphoto-512250305-612x612.jpg);
}

header span {
	float: left;
}

img {
	width: 150px;
	height: 110px;
	margin: 20px 100px;
	float: left;
}

nav {
	background-color: #707;
	float: left;
	width: 20%;
	height: auto;
	margin: 15px;
}

main {
	background-color: #444;
	float: left;
	width: 60%;
	height: auto;
	margin: 15px;
}

nav ul {
	margin-top: 5px;
	list-style-type: none;
	padding: 10px;
}
nav li {
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

main li {
	display: block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin-bottom: 10px;
	padding-left: 10px;
}

aside {
	background-color: #994;
	float: left;
	width: 20%;
	height: auto;
}

footer {
	display: block;
	background-color: #333;
	margin: 15px;
	height: 100px;
	width: auto;
}

footer span {
	position: relative;
	color: #888;
	font-size: 1.5em;
	font-family: monospace;
	text-align: center;
	display: block;
	width: 50%;
	height: auto;
	margin: auto;
	top: 40px;
}