/* Página web Github */
body{
	background-color: #222222;
	color: white;
	margin: 0px;	
}

a{
	color: white;
}

a:hover{
	color: cyan;
}

a:active{
	color: blue;
}

h1 {
	font-family: "Audiowide", sans-serif;
	background-color: rgb(15, 28, 104);
	margin: 0%;
	line-height: 4cm;
	font-size: 60px;
	border-bottom-style: solid;
	background-image: url(imagenes/istockphoto-512250305-612x612.jpg);
	/*background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;*/
}

h2 {
	font-size: 30px;
	text-align: center;
	background-color: #111111;
	margin: 0%;
	line-height: 2cm;
	border-style: none none solid none;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
}

.grid-container {
	display: grid; 
	grid-template-columns: auto /*auto*/;
}
