/*Práctica 1 ejercicio 1*/
body{
	background-color: #222222;
	color: white;	
}

a{
	color: white;
}

a:hover{
	color: cyan;
}

a:active{
	color: blue;
}

h1 {
	color: blue;
}

h2 {
	color: fuchsia;
}

h3 {
	color: DeepSkyBlue;
}

h4 {
	color: Crimson;
}

h5 {
	color: DarkSlateBlue;
}

h6 {
	color: DarkOliveGreen;
} 

