body {
    overflow: auto;
    scrollbar-color: #f00;
    scrollbar-width: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    background-image: url(../imagenes/3-ej1/mapa.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px -40px;
}

h1 {
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid white;
    background-color: #444;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-style: italic;
}

form {
    width: 50%;
    margin: auto;
    background-color: #444;
    padding: 20px;
    border-radius: 20px;
    line-height: 30px;
}

fieldset {
    /*border-radius: 10px;*/
    border-width: 5px;
    border-style: solid;
    padding-bottom: 30px;
}

input {
    background-color: #bbb;
    border-radius: 0px;
    border-style: solid;
    border-color: #777;
    padding-left: 7px;
    outline: none;
    transition: 0.5s;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    accent-color: orange;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: red;
}

select {
    background-color: #bbb;
    border: 2px solid transparent;
}

option:hover {
    background-color: rgb(201, 46, 46);
}

input:hover {
    border-color: green;
    border-style: solid;
    border-width: 2px;
}

input:focus {
    border-color:  rgb(0, 183, 255);
    border-style: solid;
    border-width: 2px;
}

label {
    color: #fff;
}

button {
    height: 50px;
    width: 100px;
    margin: 0px 10px;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
}

div {
    text-align: center;
}

.obli {
    color: rgb(243, 84, 84);
    font-size: small;
}

#info {
    color: rgb(0, 183, 255);
    border-color: rgb(0, 183, 255);
}

#nombre {
    width: 98%;
    height: 30px;
    margin-right: 5px;
}

#altura {
    width: 60px;
    height: 30px;
}

#email {
    width: 50%;
    height: 30px;
}

#fecha {
    height: 30px;
}

#nac {
    color: orange;
    border-color: orange;
}

#l-nac {
    float: left;
    height: auto;
}

#c-nac {
    margin: 0px 110px;
    text-align: center;
    height: auto;
}

#r-nac {
    float: right;
    height: auto;
}

#est {
    color: greenyellow;
    border-color: greenyellow;
}

#estudios {
    width: 200px;
    height: 36px;
    border-radius: 0px;
    border-style: none;
    padding-left: 7px;

}

#idi {
    color: #f00;
    border-color: #f00;
    padding-inline: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

#es {
    text-align: left;
}

#env {
    transition: 0.5s;
    color: white;
    background-color: rgb(112, 0, 156);
}

#env:hover {
    background-color: rgb(146, 0, 204);
}

#res {
    transition: 0.5s;
}

#res:hover {
    background-color: rgb(201, 2, 2);
}